build==1.0.3
CacheControl==0.13.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
contourpy==1.1.1
crashtest==0.4.1
cryptography==41.0.5
cycler==0.12.1
distlib==0.3.7
docutils==0.20.1
dulwich==0.21.6
fastjsonschema==2.18.1
filelock==3.13.1
fonttools==4.44.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
installer==0.7.0
jaraco.classes==3.3.0
jeepney==0.8.0
keyring==24.3.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplot==0.1.9
matplotlib==3.7.3
mdurl==0.1.2
more-itertools==10.1.0
msgpack==1.0.7
nh3==0.2.14
numpy==1.24.4
packaging==23.2
pexpect==4.8.0
Pillow==10.1.0
pipenv==2023.10.24
pkginfo==1.9.6
platformdirs==3.11.0
poetry==1.7.0
poetry-core==1.8.1
poetry-plugin-export==1.6.0
ptyprocess==0.7.0
pycparser==2.21
Pygments==2.16.1
pyloco==0.0.139
pyparsing==3.1.1
pyproject_hooks==1.0.0
python-dateutil==2.8.2
rapidfuzz==3.5.2
readme-renderer==42.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.6.0
SecretStorage==3.3.3
shellingham==1.5.4
SimpleWebSocketServer==0.1.2
six==1.16.0
tomli==2.0.1
tomlkit==0.12.2
trove-classifiers==2023.11.9
twine==4.0.2
typing==3.7.4.3
typing_extensions==4.8.0
urllib3==2.0.7
ushlex==0.99.1
virtualenv==20.24.6
websocket-client==1.6.4
zipp==3.17.0
